# =============================
# DATA FILES (DO NOT PUSH)
# =============================

*.csv
*.xlsx
*.json
*.parquet

data/raw/
data/processed/

users.csv

# =============================
# PYTHON CACHE
# =============================

__pycache__/
*.pyc
*.pyo
*.pyd

# =============================
# VIRTUAL ENVIRONMENT
# =============================

venv/
env/
.venv/

# =============================
# JUPYTER
# =============================

.ipynb_checkpoints/

# =============================
# STREAMLIT CACHE
# =============================

.streamlit/

# =============================
# OS FILES
# =============================

.DS_Store
Thumbs.db

# =============================
# IDE FILES
# =============================

.vscode/
.idea/

# =============================
# LOG FILES
# =============================

*.log